.tc-accordion-menu {
	width: 268px;
}

.tc-accordion-menu * {
	margin: 0px;
}

.tc-accordion-menu ul {
	padding: 0px;
}

.tc-accordion-menu li {
	list-style-type: none;
	white-space: unset;
}


.tc-dummy-menu-item,
.tc-dummy-menu-item-with-rollover,
.tc-accordion-menu ul li a{
	text-decoration: none;
	line-height: 3rem;
	display: block;
	padding: 0 15px;
	border: 0px;
	border-left: 5px; 
	border-style: solid;
	border-color: transparent;
	transition: all 0.25s;
	position: relative;
}

.tc-compact .tc-dummy-menu-item, .tc-compact .tc-dummy-menu-item-with-rollover,.tc-compact .tc-accordion-menu ul li a {
	line-height: 2.4rem;
	min-height: 0px;
}

.tc-dummy-menu-row {
	line-height: 3rem;
}
.tc-compact .tc-dummy-menu-row {
	line-height: 2.4rem;
}


.tc-dummy-menu-item {
	border-top: 1px solid #eee;
    width: 234px;
    margin-left: 17px;
    padding-left: 0px;
}


.tc-menu-divider {
	width: 88%;
	position: absolute;
	top: 0px;
	border-top: 1px solid #eee;
}



.tc-accordion-menu ul ul {
	display: none;
}



.tc-accordion-menu li.active>ul {
	display: block;
}

.tc-accordion-menu a:not(:empty):after {
	content: "\70";
    font-family: "bluemagic";
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 1rem;
    transition: all 0.3s
}
.tc-accordion-menu .active>a:not(:only-child):after {
	-webkit-transform: rotate(180deg);
		    transform: rotate(180deg);
}



.tc-accordion-menu .tc-truncated-item {
	display: block;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tc-current-active>.activeMenuItem {
	font-weight: normal;
}
.activeMenuItem {
	font-weight: bold;
}

.tc-accordion-menu-mask {
    background: transparent;
    transition: background 0.3s;
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0px;
    left: 0px;
	z-index: 10;

}

.tc-show-sidebar .tc-accordion-menu-mask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
	pointer-events: none;
}